table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #6370a1;
    border-style: solid;
    color: #4153b7;
  }

  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #6370a1;
    border-style: solid;
    padding: 3px;
  }

  table.GeneratedTable thead {
    background-color: #dce3ff;
  }